.Rproj.user
.Rhistory
.RData
.Ruserdata

/vignette_cache/
/vignette_files/
/full-vignette_cache/
/full-vignette_files/
/readings/

NILO.txt
.~*
data/two-species-files/*.mp3
data/two-species-files/*.wav
data/two-species-files/*/*.jpeg
data/two-species-files/*.jpeg

*private*